@model RestaurantSite.Models.FoodItem

@{
    ViewBag.Title = "FoodDetails";
}

<h2>@Model.Name</h2>
<div class="row">
    <div class="col-md-8 col-lg-8">
        <br/>
        <img class="img-responsive" src="@Model.Image" /><br />
    </div>
    <div class="col-md-4 col-lg-4">
        <br />
        <div class="row">
            <h5><strong>Category: @Model.Food.Name</strong></h5>
            <p>
                @Model.LongDescription <br />
                <br />
                Price: $@Model.Price <br />
            </p>
        </div>
        <div class="row text-center back-row">
            <a class="btn btn-default" href="@Url.Action("BrowseFood", new { href = Request.UrlReferrer, id = Model.FoodID }))">Back</a>
        </div>
    </div>
</div>